# This value is the salt used to encrypt sessions. Makeup a long string of text for this value. This is a MANDATORY value for your application.
SESSION_SECRET=

# URL for your mongodb instance on IBM Cloud. 
MONGODB_URL=

# Certificate - needed for connecting to IBM Cloud Databases for MongoDB
CERTIFICATE_BASE64=
PORT=6020
BIND=0.0.0.0
