<!--home.html-->

<div class="row">
    <div class="jumbotron">
        <h1>App Name</h1>
        <p>Insert your message here.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h3>Get Started with Boilerplate</h3>
        <p>See the <a href="https://github.com/IBM-Bluemix/Nodejs-MEAN-Stack">README</a> for getting started documentation.</p>
    </div>
    <div class="col-lg-6">
        <h3>Resources & Documentation</h3>
        <ul>
            <li><a href="https://bootswatch.com/cosmo/">UI Theme Docs</a></li>
            <li><a href="https://getbootstrap.com/css">Bootstrap UI Docs</a></li>
        </ul>
    </div>
</div>

<!--/home.html-->
